{% extends 'leiaute.twig' %}

{% block conteudo %}
<div class="container">
  <div class="row">
        <header>
            <h2><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>Área restrita</h2>
            <span>o lugar para gerenciar pessoas, ações sociais, turmas e atendimentos</span>
        </header>
    </div>
    <br><br>
    <div class="row slideanim text-center">
        <a href="{{ path('voluntarioCadastrar') }}">
            <div class="col-sm-4">
                <span class="fa fa-vcard-o fa-3x"></span>
                <h4 style="color:#303030;">Voluntário</h4>
                <p>pessoas que prestam o serviço social</p>
            </div>
        </a>
        <a href="{{ path('usuarioCadastrar') }}">
            <div class="col-sm-4">
                <span class="fa fa-users fa-3x"></span>
                <h4>Usuário</h4>
                <p>pessoas atendidas pela instituição</p>
            </div>
        </a>
        <a href="{{ path('relatorioPrestacaoContaHTML') }}">
            <div class="col-sm-4">
                <span class="fa fa-flag fa-3x"></span>
                <h4>Prestação de contas</h4>
                <p>Relatório para prestação de contas anual</p>
            </div>
        </a>
    </div>
    <br><br>
    <div class="row slideanim text-center">
        <a href="{{ path('acaoCadastrar') }}">
            <div class="col-sm-4">
                <span class="fa fa-leaf fa-3x"></span>
                <h4>Ação</h4>
                <p>ações sociais oferecidas pela instituição</p>
            </div>
        </a>
        <a href="{{ path('frequenciaCadastrar') }}">
            <div class="col-sm-4">
                <span class="fa fa-graduation-cap fa-3x"></span>
                <h4>Frequência</h4>
                <p>frequência dos usuários que participam de ações em grupo como: aulas, oficinas e palestras</p>
            </div>
        </a>
        <a href="{{ path('atendimentoCadastrar') }}">
            <div class="col-sm-4">
                <span class="fa fa-user-md fa-3x"></span>
                <h4>Atendimento</h4>
                <p>registro dos atendimentos de ações individuais como: médicos, psicólogos, dentistas, advogados ou empreendedores</p>
            </div>
        </a>
    </div>
    {% if is_granted('ROLE_ROOT') %}
    <div class="row slideanim text-center">
        <a href="{{ path('tipoCadastrar') }}">
            <div class="col-sm-4">
                <span class="fa fa-wrench fa-3x"></span>
                <h4>Configuração</h4>
                <p>configuração do sistema</p>
            </div>
        </a>
        <a href="{{ path('acessoCadastrar') }}">
            <div class="col-sm-4">
                <span class="fa fa-lock fa-3x"></span>
                <h4>Acesso</h4>
                <p>perfis de acesso ao sistema</p>
            </div>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}