{% extends 'leiaute.twig' %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row col-sm-8 col-sm-offset-2">
            <header>
                <h2><span class="fa fa-vcard-o" aria-hidden="true"></span>&nbsp;Voluntário</h2>
                <small>pessoas que prestam o serviço social</small>
            </header>
        </div>
        <div class="row col-sm-8 col-sm-offset-2">
            <form name="frmCadastro" action="{{ path('voluntarioSalvar')}}" method="POST">
                <fieldset>
                <legend><i class="glyphicon glyphicon-menu-right"></i><b>Dados pessoais</b></legend>
                    {% for tipo in tipos_pessoa %}
                        {% if tipo.descricao == 'Voluntário' %}
                        <input type="hidden" name="tipo_pessoa" value="{{ tipo.id }}">
                        {% endif %}
                    {% endfor %}
                    <div class="form-group col-sm-3">
                        <label for="CPF_pessoa">CPF</label>
                        <input type="text" name="CPF_pessoa" class="form-control" placeholder="999.999.999-99" required autofocus value="{% if voluntario is defined %}{{ voluntario.pessoa.CPF }}{% endif %}">
                    </div>
                    <div class="form-group col-sm-9">
                        <label for="nome_pessoa">Nome</label>
                        <input type="text" name="nome_pessoa" class="form-control" placeholder="Seu nome completo" required value="{% if voluntario is defined %}{{ voluntario.pessoa.nome }}{% endif %}">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-3">
                        <label for="nascimento_pessoa">Nascimento</label>
                        <input type="date" name="nascimento_pessoa" class="form-control" placeholder="dd/mm/aaaa" required value="{% if voluntario is defined %}{{ voluntario.pessoa.dataNascimento.date | date("d/m/Y") }}{% endif %}">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="RG_pessoa">RG</label>
                        <input type="text" name="RG_pessoa" class="form-control" placeholder="9.999.999" value="{% if voluntario is defined %}{{ voluntario.pessoa.RG }}{% endif %}">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="estado_civil_pessoa" class="form-check-label">Estado Civil</label><br />
                        <select class="form-control" name="estado_civil_pessoa" required>
                            <option value="">Selecione</option>
                            {% for estado_civil in estados_civis %}
                            <option value="{{ estado_civil.id }}" {% if voluntario is defined and voluntario.pessoa.estadoCivil.id == estado_civil.id %} selected {% endif %}>{{ estado_civil.descricao }}</option>
                            {% endfor %} 
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="nacionalidade_pessoa">Nacionalidade</label>
                        <input type="text" name="nacionalidade_pessoa" class="form-control" placeholder="Brasíleira" required value="{% if voluntario is defined %}{{ voluntario.pessoa.nacionalidade }}{% endif %}">
                    </div>
                    <div class="form-group form-check-inline col-sm-2">
                        <label for="sexo_pessoa" class="form-check-label">Sexo</label><br />
                        {% for sexo in sexos %}
                        <label class="form-check-label">{{sexo.descricao}}
                            <input type="radio" name="sexo_pessoa" class="form-check-input" value="{{sexo.id}}" {% if voluntario is defined and (voluntario.pessoa.sexo.descricao == 'M' or voluntario.pessoa.sexo.descricao == 'F')  %} checked="true" {% endif %}>
                        </label>
                        {% endfor %}
                    </div>                    
                    <div class="form-group col-sm-4">
                        <label for="profissao_pessoa">Profissão</label>
                        <input type="text" name="profissao_pessoa" class="form-control" placeholder="Costureira" value="{% if voluntario is defined %}{{ voluntario.pessoa.profissao }}{% endif %}">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="registro_pessoa">Registro</label>
                        <input type="text" name="registro" class="form-control" placeholder="99999-0" value="{% if voluntario is defined %}{{ voluntario.registro }}{% endif %}">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="tipo_registro">Tipo</label>
                        <select class="form-control" name="tipo_registro">
                            <option value="">Selecione</option>
                            {% for tipo_registro in tipos_registro %}
                            <option value="{{ tipo_registro.id }}" {% if voluntario.tipoRegistro.id is defined and voluntario.tipoRegistro.id == tipo_registro.id %} selected {% endif %}>{{ tipo_registro.descricao }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>
                <fieldset>
                <legend><i class="glyphicon glyphicon-menu-right"></i><b>Endereço</b></legend>
                    <div class="form-group col-sm-5">
                        <label for="endereco_pessoa">Endereço</label>
                        <input type="text" name="endereco_pessoa" class="form-control" placeholder="SQN 915 Bloco A Apt 108" required value="{% if voluntario is defined %}{{ voluntario.pessoa.endereco }}{% endif %}">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="cidade_pessoa">Cidade</label>
                        <input type="text" name="cidade_pessoa" class="form-control" placeholder="Asa Norte" required value="{% if voluntario is defined %}{{ voluntario.pessoa.cidade }}{% endif %}">
                    </div>
                    <div class="form-group col-sm-1">
                        <label for="UF_pessoa">UF</label>
                        <select class="form-control" name="UF_pessoa" required>
                            <option value="">Selecione</option>
                            {% for uf in ufs %}
                            <option value="{{ uf.id }}" {% if voluntario is defined and voluntario.pessoa.uf.id == uf.id %} selected {% endif %}>{{ uf.descricao }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="CEP_pessoa">CEP</label>
                        <input type="text" name="CEP_pessoa" class="form-control" placeholder="70000000" required value="{% if voluntario is defined %}{{ voluntario.pessoa.CEP }}{% endif %}">
                    </div>
                </fieldset>
                <fieldset>
                <legend><i class="glyphicon glyphicon-menu-right"></i><b>Contato</b></legend>
                    <div class="form-group col-sm-4">
                        <label for="telefone_pessoa">Telefone</label>
                        <input type="text" name="telefone_pessoa" class="form-control" placeholder="61999998888" required value="{% if voluntario is defined %}{{ voluntario.pessoa.telefone }}{% endif %}">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="tipo_telefone_pessoa">Tipo</label>
                        <select class="form-control" name="tipo_telefone_pessoa" required>
                            <option value="">Selecione</option>
                            {% for tipo_telefone in tipos_telefone %}
                            <option value="{{ tipo_telefone.id }}" {% if voluntario is defined and voluntario.pessoa.tipoTelefone.id == tipo_telefone.id %} selected {% endif %}>{{ tipo_telefone.descricao }}</option>
                            {% endfor %} 
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="email_pessoa">Email</label>
                        <input type="email" name="email_pessoa" class="form-control" placeholder="xxx@email.com" required value="{% if voluntario is defined %}{{ voluntario.pessoa.email }}{% endif %}">
                    </div>
                    </fieldset>
                </fieldset>
                <fieldset>
                <legend><i class="glyphicon glyphicon-menu-right"></i><b>Dados do voluntário</b></legend>
                    <div class="form-group col-sm-12">
                        <label for="conhecimento">Conhecimentos</label>
                        <textarea class="form-control" name="conhecimento" rows="5" placeholder="Fazer bolos, tirar leite, contabilidade, corrida de rua" required>{% if voluntario is defined %}{{ voluntario.conhecimento }}{% endif %}</textarea>
                    </div>
                </fieldset>
                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"> Salvar</i>
                    </button>
                    <button type="reset" class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"> Limpar</i>
                    </button>
                </div>
                <input type="hidden" name="id" value="{% if voluntario is defined %}{{ voluntario.pessoa.id }}{% endif %}">                
            </form>
            {% if resultado is defined %}
            <div class="col-sm-12 text-center alert alert-success">
                {{ resultado }}
            </div>
            {% endif %}
        </div>
        {% if voluntarios is defined %}
        <div class="row col-sm-8 col-sm-offset-2">
            <table class="table table-responsive table-hover">
            <caption>Voluntários cadastrados</caption>
                <thead class="thead-light">
                    <tr>
                        <th class="col-sm-6">Nome</th>
                        <th class="col-sm-2">Telefone</th>
                        <th class="col-sm-2">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% if voluntarios  | length > 0%}
                    {% for voluntario in voluntarios %}
                     <tr>
                        <td>{{ voluntario.pessoa.nome }}</td>
                        <td>{{ voluntario.pessoa.telefone }}</td>
                        <td>{{ voluntario.pessoa.email }}</td>
                        <td><a data-toggle="tooltip" data-placement="top" title="Alteração" href="{{ path('voluntarioEditar',{'id':voluntario.pessoa.id}) }}"><span class="text-center glyphicon glyphicon-pencil"></span></a></td>
                        <td><a data-toggle="tooltip" data-placement="top" title="Exclusão" href="{{ path('voluntarioExcluir',{'id':voluntario.pessoa.id}) }}"><span class="text-center glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">Nenhum voluntário cadastrado</td>
                    </tr>
                    {% endif %}                    
                </tbody>
            </table>
        </div> 
        {% endif %}
    </div>
{% endblock %}
