{% extends 'leiaute.twig' %}

{% block topo %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-position: 1% 20%; background-image: url('{{ asset('topo_criancas.png', 'img') }}')">
        <div class="container" style="background-color: rgb(0, 0, 0); opacity: 0.5; width: 100%; height: 100%;">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0">
                    <div class="site-heading">
                        <h1>BrinqueCoin</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <form name="frmQuadro" action="{{ path('quadroSalvar')}}" method="POST" class="form-inline">
                    <h4>Crie o seu quadro</h4>
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" name="email" class="form-control col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" placeholder="seuemail@provedor.com" required data-validation-required-message="Qual o seu email?" value="{% if quadro is defined %}{{ quadro.responsavel }}{% endif %}" autofocus>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <label for="tipo" class="sr-only">Tipo de quadro</label>
                        <select name="tipo" class="form-control col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" required data-validation-required-message="Que tipo de quadro vc quer?">
                            <option value="" disabled selected>Um quadro de</option>
                            {% for tipo in tipos %}
                                <option value="{{ tipo.id }}" {% if quadro is defined and quadro.tipo.id == tipo.id %} selected {% endif %}>{{ tipo.descricao }}</option>
                            {% endfor %} 
                        </select>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <select name="genero" class="form-control col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" required data-validation-required-message="É para um menino ou uma menina? Um homem ou uma mulher?">
                            <option value="" disabled selected>Para</option>
                            <option value="M" {% if quadro is defined and quadro.genero == 'M' %} selected {% endif %}>o</option>
                            <option value="F" {% if quadro is defined and quadro.genero == 'F' %} selected {% endif %}>a</option>
                        </select>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <label for="nome" class="sr-only">Nome</label>
                        <input type="text" name="crianca" class="form-control col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" placeholder="Chamado (a)" required data-validation-required-message="Qual o nome dele ou dela?" value="{% if quadro is defined %}{{ quadro.crianca }}{% endif %}">
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <label for="idade" class="sr-only">Idade</label>
                        <input type="number" min="3" name="idade" class="form-control col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" placeholder="10 anos" required data-validation-required-message="Quantos anos ele ou ela tem?" value="{% if quadro is defined %}{{ quadro.idade }}{% endif %}">
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <label for="nome" class="sr-only">Recompensa</label>
                        <input type="text" name="recompensa" class="form-control col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" placeholder="Qual a recompensa combinada?" value="{% if quadro is defined %}{{ quadro.recompensa }}{% endif %}">
                    </div>
                    <div>&nbsp;</div>
                    <center><button class="btn btn-primary" type="submit">Criar</button></center>
                    <input type="hidden" name="id" value="{% if quadro is defined %} {{ quadro.id }} {% endif %}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
