{% extends 'leiaute.twig' %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row col-sm-8 col-sm-offset-2">
            <header>
                <h2><span class="fa fa-leaf" aria-hidden="true"></span>&nbsp;Ação social</h2>
                <small>ações sociais oferecidas pela instituição</small>
            </header>
        </div>
        <div class="row col-sm-8 col-sm-offset-2">
            <form name="frmCadastro" action="{{ path('acaoSalvar')}}" method="POST">
                <fieldset>
                <legend><i class="glyphicon glyphicon-menu-right"></i><b>Dados básicos</b></legend>
                    <div class="form-group col-sm-5">
                        <label for="acao">Nome</label>
                        <input type="text" name="acao" class="form-control" placeholder="O nome da ação social" value="{% if acao is defined %}{{ acao.nome }}{% endif %}" required>
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="local" class="form-check-label">Local</label><br />
                        <select class="form-control" name="local" required>
                            <option value="">Selecione</option>
                            {% for local in locais %}
                            <option value="{{ local.id }}" {% if acao is defined and acao.local.id == local.id %} selected {% endif %}>{{ local.descricao }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group form-check-inline col-sm-4 col-sm-offset-1">
                        <label for="dia" class="form-check-label">Tipo</label><br />
                        {% for tipo in tipos_acao %}
                        <label class="form-check-label">{{ tipo.descricao }}
                            <input type="radio" name="tipo_acao" name="tipo_acao" class="form-check-input" required value="{{ tipo.id }}" {% if acao is defined and acao.tipo.id == tipo.id %} checked="true" {% endif %}>
                        </label>
                        {% endfor %} 
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="proposito">Propósito</label>
                        <textarea class="form-control" name="proposito" rows="5" placeholder="Empoderar e trabalhar a autoestima por meio da dança" required>{% if acao is defined %}{{ acao.proposito }}{% endif %}</textarea>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-3">
                        <label for="inicio">Início</label>
                        <input type="date" name="inicio" class="form-control" placeholder="dd/mm/aaaa" required value="{% if acao is defined %}{{ acao.inicio | date("d/m/Y")}}{% endif %}">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="termino">Término</label>
                        <input type="date" name="termino" class="form-control" placeholder="dd/mm/aaaa" value="{% if acao is defined %}{{ acao.termino | date("d/m/Y")}}{% endif %}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="pre-requisito">Pré-requisito</label>
                        <input type="text" name="pre_requisito" class="form-control" placeholder="estar na 4ª série, ter feito informática básica" value="{% if acao is defined %}{{ acao.preRequisito}}{% endif %}">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="publico_alvo" class="form-check-label">Público-alvo</label><br />
                        <select class="form-control" name="publico_alvo" required>
                            <option value="">Selecione</option>
                            {% for publico in publicos_alvo %}
                            <option value="{{ publico.id }}" {% if acao is defined and acao.publicoAlvo.id == publico.id %} selected {% endif %}>{{ publico.descricao }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="faixa_etaria" class="form-check-label">Faixa etária</label><br />
                        <select class="form-control" name="faixa_etaria" required>
                            <option value="">Selecione</option>
                            {% for faixa in faixas_etarias %}
                            <option value="{{ faixa.id }}" {% if acao is defined and acao.faixaEtaria.id == faixa.id %} selected {% endif %}>{{ faixa.descricao }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="horario">Entrada</label>
                        <input type="time" name="entrada" class="form-control" placeholder="09:00" value="{% if acao is defined %}{{acao.entrada | date("h:i")}}{% endif %}">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="horario">Saída</label>
                        <input type="time" name="saida" class="form-control" placeholder="12:00" value="{% if acao is defined %}{{acao.saida | date("h:i")}}{% endif %}">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="turno">Turno</label>
                        <select class="form-control" name="turno" required>
                            <option value="">Selecione</option>
                            {% for turno in turnos %}
                            <option value="{{ turno.id }}" {% if acao is defined and acao.turno.id == turno.id %} selected {% endif %}>{{ turno.descricao }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm-1">
                        <label for="carga_horaria">Horas</label>
                        <input type="time" name="carga_horaria" class="form-control" placeholder="99" value="{% if acao is defined %}{{acao.cargaHoraria}}{% endif %}">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="dia" class="form-check-label">Dia</label><br />
                        <select class="form-control" name="dia_semana" required>
                            <option value="">Selecione</option>
                            {% for dia in dias %}
                            <option value="{{ dia.id }}" {% if acao is defined and acao.diaSemana.id == dia.id %} selected {% endif %}>{{ dia.descricao }}</option>
                            {% endfor %}
                        </select>                        
                    </div>   
                    <div class="form-group col-sm-9">
                        <label for="voluntario">Voluntário</label>
                        <select class="form-control" name="voluntario" required>
                            <option value="">Selecione</option>
                            {% for voluntario in voluntarios %}
                            <option value="{{ voluntario.pessoa.id }}" {% if acao is defined and acao.voluntario.pessoa.id == voluntario.pessoa.id %} selected {% endif %}>{{ voluntario.pessoa.nome }}</option>
                            {% endfor %} 
                        </select>
                    </div>
                </fieldset>
                {% if acao is defined and acao.tipo.descricao == 'Grupo' %}
                <fieldset>
                <legend><i class="glyphicon glyphicon-menu-right"></i><b>Usuários</b></legend>
                    <div class="form-group-lg col-sm-10">
                        <select class="form-control" id="usuario" name="usuario">
                            <option value="">Selecione</option>
                            {% for usuario in usuarios %}
                            <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
                            {% endfor %} 
                        </select>
                    </div>
                    <div class="form-group col-sm-1 col-sm-offset-1">
                        <button id="btnAdicionar" type="button" class="btn btn-warning" >
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </div>
                </fieldset>
                {% endif %}
                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"> Salvar</i>
                    </button>
                    <button type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"> Limpar</i>
                    </button>
                </div>
                <input type="hidden" id="id" name="id" value="{% if acao is defined %}{{ acao.id }}{% endif %}">
            </form>
        </div>
        {% if resultado is defined %}
        <div class="col-sm-12 text-center alert alert-success">
            {{ resultado }}
        </div>
        {% endif %}
        {% if acoes is defined %}
        <div class="row col-sm-8 col-sm-offset-2">
            <table class="table table-responsive table-hover">
            <caption>Ações cadastradas</caption>
                <thead class="thead-light">
                    <tr>
                        <th class="col-sm-4">Ação</th>
                        <th class="col-sm-2">Início</th>
                        <th class="col-sm-4">Voluntário</th>
                    </tr>
                </thead>
                <tbody>
                    {% if acoes  | length > 0 %}
                    {% for acao in acoes %}
                     <tr>
                        <td>{{ acao.nome }}</td>
                        <td>{{ acao.inicio | date("d/m/Y") }}</td>
                        <td>{{ acao.voluntario.pessoa.nome }}</td>
                        <td><center><a data-toggle="tooltip" data-placement="top" title="Alteração" href="{{ path('acaoEditar',{'id':acao.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a></center></td>
                        <td><center><a data-toggle="tooltip" data-placement="top" title="Exclusão" href="{{ path('acaoExcluir',{'id':acao.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></center></td>
                        <td><center><a data-toggle="tooltip" data-placement="top" title="Certificado de Participação" href="{{ path('acaoCertificar',{'acao':acao.id, 'voluntario':acao.voluntario.pessoa.id}) }}"><span class="glyphicon glyphicon-certificate"></span></a></center></td>
                        <td><center><a data-toggle="tooltip" data-placement="top" title="Termo do Voluntariado" href="{{ path('acaoAssinar',{'acao':acao.id, 'voluntario':acao.voluntario.pessoa.id}) }}"><span class="glyphicon glyphicon-file"></span></a></center></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">Nenhuma ação cadastrada</td>
                    </tr>
                    {% endif %}                    
                </tbody>
            </table>
        </div> 
        {% endif %}
    </div>
{% endblock %}
