{% extends 'leiaute.twig' %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row col-sm-8 col-sm-offset-2">
            <header>
                <h2><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Configuração</h2>
                <span>ex: voluntário, responsável, menor, administrativo, gestor</span>
            </header>
        </div>
        <div class="row col-sm-8 col-sm-offset-2">
            <form name="frmCadastro" action="{{ path('tipoSalvar')}}" method="POST">
                <fieldset>
                    <div class="form-group col-sm-6">
                        <label for="descricao">Descrição</label>
                        <input type="text" name="descricao" class="form-control" placeholder="Voluntário" value="{% if tipo is defined %}{{tipo.descricao}}{% endif %}" autofocus required>
                    </div>
                    <div class="form-group col-sm-2 col-sm-offset-2">
                        <label for="grupo">Grupo
                            <span data-toggle="tooltip" data-placement="right" title="3 letras maiúsculas" class="glyphicon glyphicon-question-sign"></span> 
                        </label>
                        <input type="text" name="grupo" class=" form-control" placeholder="VOL" value="{% if tipo is defined %}{{tipo.grupo}}{% endif %}" required>
                    </div>
                    <div class="form-group col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-ok"> Salvar</i>
                        </button>
                        <button type="button" class="btn btn-default">
                            <i class="glyphicon glyphicon-remove"> Limpar</i>
                        </button>
                    </div>
                </fieldset>
                <input type="hidden" name="id" value="{% if tipo is defined %}{{tipo.id}}{% endif %}">
            </form>
            {% if resultado is defined %}
            <div class="col-sm-12 text-center alert alert-success">
                {{ resultado }}
            </div>
            {% endif %}
        </div>
        <div class="row col-sm-8 col-sm-offset-2">
            <table class="table table-responsive table-hover">
            <caption>Configurações cadastradas</caption>
                <thead class="thead-light">
                    <tr>
                        <th class="col-sm-7">ID</th>
                        <th class="col-sm-7">Descrição</th>
                        <th class="col-sm-2">Grupo</th>
                    </tr>
                </thead>
                <tbody>
                {% if tipos | length > 0 %}
                    {% for tipo in tipos %}
                    <tr>
                        <td>{{tipo.id}}</td>
                        <td>{{tipo.descricao}}</td>
                        <td>{{tipo.grupo}}</td>
                        <td><a data-toggle="tooltip" data-placement="top" title="Alteração" href="{{ path('tipoEditar',{'id':tipo.id}) }}"><span class="text-center glyphicon glyphicon-pencil"></span></a></td>
                        <td><a data-toggle="tooltip" data-placement="top" title="Exclusão" href="{{ path('tipoExcluir',{'id':tipo.id}) }}"><span class="text-center glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <tbody>
                    <tr>
                        <td colspan="4">Nada cadastrado</td>
                    </tr>
                </tbody>
                {% endif %}
            </table>
        </div> 
    </div>
{% endblock %}
