{% extends 'leiaute.twig' %}

{% block topo %}
{% endblock %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container" style="border: 10px solid #000066; margin-top:10px; margin-bottom:5px; width:640px; height:640px">
        <div class="text-center"><img src="{{ asset('logo_casa_sao_jose.jpg', 'img') }}"></div>
        <header><h2 class="text-center">Inspira e transforma o mundo</h2></header>
        <p>
            Certificamos que <b>{{acao.voluntario.pessoa.nome}}</b> desde o dia {{acao.inicio |date ('d/m/Y')}} ajuda a inspirar e transformar o mundo de {{acao.faixaEtaria.descricao | lower}} por meio da ação social <b>{{acao.nome}}</b>
            {{ acao.diaSemana.descricao | lower }} das {{acao.entrada | date('h:i')}} as {{acao.saida | date('h:i')}} na Casa São José (Associação Cristã do Lago Norte - ACLN), Varjão, Brasília-DF.

        </p>
        <p class="text-center">Brasília, {{"now"|date("d/m/Y")}}</p>
        <p class="text-center col-sm-6">____________________ <br /> Presidente da ACLN</p>
        <p class="text-center col-sm-6">____________________ <br /> Diretor(a) Executivo(a)</p>
    </div>        
{% endblock %}

{% block rodape %}
{% endblock rodape %}

{% block contato %}
{% endblock contato %}
