{% extends 'leiaute.twig' %}

{% block topo %}
{% endblock %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container" style="border: 10px solid #000066; margin-top:10px; margin-bottom:5px; width:640px; height:640px">
        <div class="text-center"><img src="{{ asset('logo_casa_sao_jose.jpg', 'img') }}"></div>
        <header><h2 class="text-center">Certificado de Participação</h2></header>
        <p>
            Certificamos que <b>{{matricula.pessoa.nome}}</b> participou do curso <b>{{matricula.acao.nome}}</b> 
            ministrado na Casa São José (Associação Cristã do Lago Norte - ACLN), Varjão, Brasília-DF, com carga horária de {{matricula.acao.cargaHoraria}} horas/aula.
        </p>
        <p class="text-center">Brasília, {{"now"|date("d/m/Y")}}</p>
        <p class="text-center col-sm-4">____________ <br /> Presidente da ACLN</p>
        <p class="text-center col-sm-4">____________ <br /> Diretor(a) Executivo(a)</p>
        <p class="text-center col-sm-4">____________ <br /> Instrutor(a)</p>
    </div>        
{% endblock %}

{% block rodape %}
{% endblock rodape %}

{% block contato %}
{% endblock contato %}
