{% extends 'leiaute.twig' %}

{% block topo %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-position: 1% 10%; background-image: url('{{ asset('topo_criancas.png', 'img') }}')">
        <div class="container" style="background-color: rgb(0, 0, 0); opacity: 0.5; width: 100%; height: 100%;">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0">
                    <div class="site-heading">
                        <h1>BrinqueCoin</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <input type="hidden" id="tipo" value="{{ tipo.codigo }}">
        <div class="row">
            {% if tipo.codigo == 'T' %}
            <p>Oi <b>{{quadro.crianca}}</b>, vc conquistou {{ real}} dos {{ prev }} pontos ({{ perc }}%) para <b>{{quadro.recompensa|lower}}</b></p>
            {% elseif tipo.codigo == 'M' %}
            <p>Oi <b>{{quadro.crianca}}</b>, vc conquistou {{ mesada }} reais de mesada!</p>
            {% elseif tipo.codigo == 'F' %}
            <p>Oi <b>{{quadro.crianca}}</b>, faça o seu melhor possível para <b>{{quadro.recompensa|lower}}</b></p>
            {% else %}
            <p>Oi <b>{{quadro.crianca}}</b>, vc consegue! #top</b></p>
            {% endif %}
            {% if atividades is defined %}
            <div style="overflow: auto; width: 100%; border: 1px;">
                <table class="table table-borded">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Tarefa</th>
                            {% if tipo.codigo == 'M' %}
                            <th>Valor</th>
                            {% endif %}
                            <th><center>Seg</center></th>
                            <th><center>Ter</center></th>
                            <th><center>Qua</center></th>
                            <th><center>Qui</center></th>
                            <th><center>Sex</center></th>
                            <th><center>Sab</center></th>
                            <th><center>Dom</center></th>
                        </tr>
                    </thead>
                    {% if resultados is defined %}
                    <tfoot>
                        {% if tipo.codigo == 'T' %}
                        <tr>
                            <th>&nbsp;</th>
                            <th>Pedido especial</th>
                            {% for resultado in resultados %}
                                {% for dia in resultado %}
                            <th><center><span class="{{ dia }}"></span></center></th>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        {% elseif tipo.codigo == 'M' %}
                        <tr>
                            <th>&nbsp;</th>
                            <th>Mesada</th>
                            <th>&nbsp;</th>
                            {% for dia in resultados %}
                            <th>R$ {{ dia }}</th>
                            {% endfor %}
                        </tr>
                        {% elseif tipo.codigo == 'F' %}
                        <tr>
                            <th>&nbsp;</th>
                            <th>O dia foi</th>
                            {% for dia in resultados %}
                            <th>{{ dia }}</th>
                            {% endfor %}
                        </tr>
                        {% endif %}
                    </tfoot>
                    {% endif %}
                    <tbody>
                        {% for atividade in atividades %}
                        <tr>
                            {% if atividade.imagem is not null %}
                            <td class="imagem"><img src="{{ asset(atividade.imagem, 'file') }}"></td>
                            {% else %}
                            <td class="imagem"><img></td>
                            {% endif %}
                            <td>{{ atividade.atividade}}</td>
                            {% if tipo.codigo == 'M' %}
                            <td>R$ {{ atividade.valor}}</td>
                            {% endif %}
                            <td class="emoji" id="seg_{{ atividade.id }}"><span class="{{ atividade.emoji_segunda }}"></span></td>
                            <td class="emoji" id="ter_{{ atividade.id }}"><span class="{{ atividade.emoji_terca }}"></span></td>
                            <td class="emoji" id="qua_{{ atividade.id }}"><span class="{{ atividade.emoji_quarta }}"></span></td>
                            <td class="emoji" id="qui_{{ atividade.id }}"><span class="{{ atividade.emoji_quinta }}"></span></td>
                            <td class="emoji" id="sex_{{ atividade.id }}"><span class="{{ atividade.emoji_sexta }}"></span></td>
                            <td class="emoji" id="sab_{{ atividade.id }}"><span class="{{ atividade.emoji_sabado }}"></span></td>
                            <td class="emoji" id="dom_{{ atividade.id }}"><span class="{{ atividade.emoji_domingo }}"></span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="post-preview">
                <br />
                <p class="post-meta" align="center">Nenhuma atividade cadastrada</p>
            </div>
            {% endif %}
        </div>
        <center>
            <input type="submit" class="btn btn-primary" value="Atualizar resultado" onClick="window.location.reload()">
        <center>
    </div>
{% endblock %}

{% block rodape %}
<footer>
    <div class="container">
        <div class="row" align="center">
            <p>Vc faz parte de uma comunidade com muitas outras crianças, jovens e adolescentes no Brasil e no mundo</p>
        </div>
    </div>
</footer>
{% endblock %}
